* {
    margin: auto;
    box-sizing: border-box;
}

.body {
    background-color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif
}

.title {
    background-color: black;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    border: 100px;
}


.pictures {
    width: 300px;
    height:300px;
}


 
/* pictures need to be fixed, links need to be aligned with pictures */
